
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.toolbar {
    color: #252a2e;
  }

	.mat-grid-list {
		background: rgb(26, 102, 128);

	}

	.mat-grid-tile {
		background: lightblue;
	}

	.tasks {
		flex: auto;
	}
	

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
	<p>
		<mat-toolbar color="primary">
			<span>Calendar App</span>
			<span class="example-spacer"></span>
		</mat-toolbar>
	</p>
	<div id="app-container" layout="row">
		<div id="task-container"></div>
		<div id="calendar-container">
			<app-calendar-base></app-calendar-base>
		</div>
	</div>
</div>
	
<router-outlet></router-outlet>
